<div class="contenedor">
    <button class="boton">Cotiza tu mudanza</button>
    <button class="boton">Conoce nuestros servicios</button>
</div>

<style>
    .contenedor{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-block: 60px;
    }
    .boton{
        background-color: #e24e42;
        color: white;
        border: none;
        flex-shrink: 0;
        font-size: 1rem;
        height: 50px;
        flex-basis: 300px;
        border-radius: 10px;
    }

</style>